<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  {% load staticfiles %}
  <link href="{% static '/' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<style>

    body {
      background: #ffffff;
    }
    .bg-1 {
      background-color: #1abc9c; /* Green */
      color: #ffffff;
    }
    .bg-2 {
      background-color: #474e5d; /* Dark Blue */
      color: #ffffff;
    }
    .bg-3 {
      background-color: #fff; /* White */
      color: #555555;
    }
    .bg-4 {
      background-color: #fefefe; /* White */
      color: #555555;
    }

    .jumbotron {
      background-color: #88C067;
      color: #fff;
      padding: 100px 25px;
  }
  .bg-grey {
      background-color: #f6f6f6;
  }
}
</style>


<body>

<!––making navigation bar-->
<nav class="navbar navbar-inverse bg-2">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Organik</a>
        </div>


    <ul class="nav navbar-nav bg-2">
        <li class="active"><a href="/Home/">Home</a></li>

        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Seed packs<span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li><a href="/Seed_Pack_Home/">For Home</a></li>
                <li><a href="/Seed_Pack_Garden/">For Garden</a></li>
            </ul>
        </li>

        <li><a href="/Pots/">Pots</a></li>
        <li><a href="/AboutUs/">AboutUs</a></li>
    </ul>

        <ul class="nav navbar-nav navbar-right">
            <li><a href="#"><span class="glyphicon glyphicon-user"></span>{{username}}</a></li>
            <li><a href="/Checkout/"><span class="glyphicon glyphicon-shopping-cart"></span> Checkout</a></li>
            <li><a href="/SignIn/"><span class="glyphicon glyphicon-log-in"></span> LogOut</a></li>
        </ul>
    </div>
</nav>
<!––navigation bar finished-->
<center><img src="{% static 'house_pack_3.jpg' %}" class="img-responsive" alt="Random Name" width="155" height="155"></center>

<div class="container">
<h1>Home Seed Package C</h1>
<p>Contains commonly found seeds in your region</p>
<pre>
Benefit:  Air purifier. Pet friendly. Increase humidity. Controls air temperature
Owners will have less allergy reactions as people are used to these homegrown pollens <br>

Light: Medium to high.
Planter: Built in sub-irrigation system (water your plant 3 times less often in comparison to regular pots). Made by Lechuza in Germany, shatterproof, 100% recyclable plastic.

    It has all of the characteristics of your favorite garden hydrangeas – big leaves and even bigger blooms coming all
    summer long in the shade. With alkaline soils the flowers are a deep pink verging on red that is unlike any other
    hydrangea on the market. As autumn approaches the flowers turn a velvety lavender color that is eye-catching with
    the purple tint of the leaves. In acidic soils the flower will be of a darker purple color. Growing 3-4 ft high, the
    Grateful Red® Hydrangea will be the star of your shady garden or border. Plant it where you can enjoy its unique
    coloration often as you walk by it. Make sure that you can reach it to cut the red blooms, too, because it will
    provide you with armfuls of flowers for your vases all season.
</pre>
</div>


<div class="container">

  <div class="dropdown">
    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Quantity
    <span class="caret"></span></button>
    <ul class="dropdown-menu">
      <li><a href="#" onclick="Qty1()">1</a></li>
      <li><a href="#" onclick="Qty2()">2</a></li>
      <li><a href="#" onclick="Qty3()">3</a></li>
    </ul>
  </div>
</div>
<center><h4>Qty Price: $3</h4><br></center>
<center><h4>Total:</h4></center>
<center><h4 id="data"></h4></center>
<center><button type="button" class="btn btn-success">Add to cart</button></center>

</body>
<script>
    function Qty1(){
        total = 3;
        document.getElementById("data").innerHTML = "$"+total;

    }

    function Qty2(){
        total = 6;
        document.getElementById("data").innerHTML = "$"+total;

    }

    function Qty3(){
        total = 9;
        document.getElementById("data").innerHTML = "$"+total;
    }
</script>


</html>
